core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample57.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/57" xmlns:tns="http://www.sample.org/57">
<import namespace="http://www.sample.org/46" schemaLocation="sample46.xsd"/><import namespace="http://www.sample.org/32" schemaLocation="./sample32.xsd"/><import namespace="http://www.sample.org/7" schemaLocation=".\sample7.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>