core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/9" xmlns:tns="http://www.sample.org/9">
<import namespace="http://www.sample.org/35" schemaLocation="sample35.xsd"/><import namespace="http://www.sample.org/64" schemaLocation="./sample64.xsd"/><import namespace="http://www.sample.org/79" schemaLocation=".\sample79.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>