core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/4" xmlns:tns="http://www.sample.org/4">
<import namespace="http://www.sample.org/1" schemaLocation="sample1.xsd"/><import namespace="http://www.sample.org/27" schemaLocation="./sample27.xsd"/><import namespace="http://www.sample.org/22" schemaLocation=".\sample22.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>