core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample55.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/55" xmlns:tns="http://www.sample.org/55">
<import namespace="http://www.sample.org/22" schemaLocation="sample22.xsd"/><import namespace="http://www.sample.org/20" schemaLocation="./sample20.xsd"/><import namespace="http://www.sample.org/86" schemaLocation=".\sample86.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>