core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample63.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/63" xmlns:tns="http://www.sample.org/63">
<import namespace="http://www.sample.org/45" schemaLocation="sample45.xsd"/><import namespace="http://www.sample.org/83" schemaLocation="./sample83.xsd"/><import namespace="http://www.sample.org/82" schemaLocation=".\sample82.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>