core/tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/23" xmlns:tns="http://www.sample.org/23">
<import namespace="http://www.sample.org/75" schemaLocation="sample75.xsd"/><import namespace="http://www.sample.org/12" schemaLocation="./sample12.xsd"/><import namespace="http://www.sample.org/20" schemaLocation=".\sample20.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>