core/tests/org.eclipse.wst.wsdl.tests.performance/data/10KB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Definition" targetNamespace="http://www.eclipse.org/webtools" xmlns:tns="http://www.eclipse.org/webtools" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eclipse.org/webtools">
      <xsd:element name="ResponseElement0" type="xsd:string"/>
      <xsd:element name="RequestElement0" type="xsd:string"/>
      <xsd:element name="ResponseElement1" type="xsd:string"/>
      <xsd:element name="RequestElement1" type="xsd:string"/>
      <xsd:element name="ResponseElement2" type="xsd:string"/>
      <xsd:element name="RequestElement2" type="xsd:string"/>
      <xsd:element name="ResponseElement3" type="xsd:string"/>
      <xsd:element name="RequestElement3" type="xsd:string"/>
      <xsd:element name="ResponseElement4" type="xsd:string"/>
      <xsd:element name="RequestElement4" type="xsd:string"/>
      <xsd:element name="ResponseElement5" type="xsd:string"/>
      <xsd:element name="RequestElement5" type="xsd:string"/>
      <xsd:element name="ResponseElement6" type="xsd:string"/>
      <xsd:element name="RequestElement6" type="xsd:string"/>
      <xsd:element name="ResponseElement7" type="xsd:string"/>
      <xsd:element name="RequestElement7" type="xsd:string"/>
      <xsd:element name="ResponseElement8" type="xsd:string"/>
      <xsd:element name="RequestElement8" type="xsd:string"/>
      <xsd:element name="ResponseElement9" type="xsd:string"/>
      <xsd:element name="RequestElement9" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ResponseMessage0">
    <wsdl:part name="Response" element="tns:ResponseElement0"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage0">
    <wsdl:part name="Request" element="tns:RequestElement0"/>
  </wsdl:message>
  <wsdl:portType name="PortType0">
    <wsdl:operation name="Operation0">
      <wsdl:input message="tns:RequestMessage0" name="Input0"/>
      <wsdl:output message="tns:ResponseMessage0" name="Output0"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding0" type="tns:PortType0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation0">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation0"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service0">
    <wsdl:port name="Port0" binding="tns:Binding0">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage1">
    <wsdl:part name="Response" element="tns:ResponseElement1"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage1">
    <wsdl:part name="Request" element="tns:RequestElement1"/>
  </wsdl:message>
  <wsdl:portType name="PortType1">
    <wsdl:operation name="Operation1">
      <wsdl:input message="tns:RequestMessage1" name="Input1"/>
      <wsdl:output message="tns:ResponseMessage1" name="Output1"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding1" type="tns:PortType1">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation1">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Port1" binding="tns:Binding1">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage2">
    <wsdl:part name="Response" element="tns:ResponseElement2"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage2">
    <wsdl:part name="Request" element="tns:RequestElement2"/>
  </wsdl:message>
  <wsdl:portType name="PortType2">
    <wsdl:operation name="Operation2">
      <wsdl:input message="tns:RequestMessage2" name="Input2"/>
      <wsdl:output message="tns:ResponseMessage2" name="Output2"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding2" type="tns:PortType2">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation2">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation2"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service2">
    <wsdl:port name="Port2" binding="tns:Binding2">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage3">
    <wsdl:part name="Response" element="tns:ResponseElement3"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage3">
    <wsdl:part name="Request" element="tns:RequestElement3"/>
  </wsdl:message>
  <wsdl:portType name="PortType3">
    <wsdl:operation name="Operation3">
      <wsdl:input message="tns:RequestMessage3" name="Input3"/>
      <wsdl:output message="tns:ResponseMessage3" name="Output3"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding3" type="tns:PortType3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation3">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation3"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service3">
    <wsdl:port name="Port3" binding="tns:Binding3">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage4">
    <wsdl:part name="Response" element="tns:ResponseElement4"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage4">
    <wsdl:part name="Request" element="tns:RequestElement4"/>
  </wsdl:message>
  <wsdl:portType name="PortType4">
    <wsdl:operation name="Operation4">
      <wsdl:input message="tns:RequestMessage4" name="Input4"/>
      <wsdl:output message="tns:ResponseMessage4" name="Output4"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding4" type="tns:PortType4">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation4">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation4"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service4">
    <wsdl:port name="Port4" binding="tns:Binding4">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage5">
    <wsdl:part name="Response" element="tns:ResponseElement5"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage5">
    <wsdl:part name="Request" element="tns:RequestElement5"/>
  </wsdl:message>
  <wsdl:portType name="PortType5">
    <wsdl:operation name="Operation5">
      <wsdl:input message="tns:RequestMessage5" name="Input5"/>
      <wsdl:output message="tns:ResponseMessage5" name="Output5"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding5" type="tns:PortType5">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation5">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation5"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service5">
    <wsdl:port name="Port5" binding="tns:Binding5">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage6">
    <wsdl:part name="Response" element="tns:ResponseElement6"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage6">
    <wsdl:part name="Request" element="tns:RequestElement6"/>
  </wsdl:message>
  <wsdl:portType name="PortType6">
    <wsdl:operation name="Operation6">
      <wsdl:input message="tns:RequestMessage6" name="Input6"/>
      <wsdl:output message="tns:ResponseMessage6" name="Output6"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding6" type="tns:PortType6">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation6">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation6"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service6">
    <wsdl:port name="Port6" binding="tns:Binding6">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage7">
    <wsdl:part name="Response" element="tns:ResponseElement7"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage7">
    <wsdl:part name="Request" element="tns:RequestElement7"/>
  </wsdl:message>
  <wsdl:portType name="PortType7">
    <wsdl:operation name="Operation7">
      <wsdl:input message="tns:RequestMessage7" name="Input7"/>
      <wsdl:output message="tns:ResponseMessage7" name="Output7"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding7" type="tns:PortType7">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation7">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation7"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service7">
    <wsdl:port name="Port7" binding="tns:Binding7">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage8">
    <wsdl:part name="Response" element="tns:ResponseElement8"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage8">
    <wsdl:part name="Request" element="tns:RequestElement8"/>
  </wsdl:message>
  <wsdl:portType name="PortType8">
    <wsdl:operation name="Operation8">
      <wsdl:input message="tns:RequestMessage8" name="Input8"/>
      <wsdl:output message="tns:ResponseMessage8" name="Output8"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding8" type="tns:PortType8">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation8">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation8"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service8">
    <wsdl:port name="Port8" binding="tns:Binding8">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="ResponseMessage9">
    <wsdl:part name="Response" element="tns:ResponseElement9"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage9">
    <wsdl:part name="Request" element="tns:RequestElement9"/>
  </wsdl:message>
  <wsdl:portType name="PortType9">
    <wsdl:operation name="Operation9">
      <wsdl:input message="tns:RequestMessage9" name="Input9"/>
      <wsdl:output message="tns:ResponseMessage9" name="Output9"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding9" type="tns:PortType9">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation9">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation9"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service9">
    <wsdl:port name="Port9" binding="tns:Binding9">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>