core/tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/NullNamespaceURI/Confirmation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="Confirmation" type="ConfirmationType" />	<xsd:complexType name="ConfirmationType">
		<xsd:sequence>
			<xsd:element name="number" type="xsd:int" />
			<xsd:element name="message" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>

