core/tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/NullNamespaceURI/ContactInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ContactInfoService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:contact="http://www.example.org/ContactInfo"
	xmlns:tns="http://www.example.org/ContactInfoService"
	targetNamespace="http://www.example.org/ContactInfoService">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/ContactInfoService"
			xmlns:contact="http://www.example.org/ContactInfo"
			xmlns:tns="http://www.example.org/ContactInfoService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.example.org/ContactInfo"
				schemaLocation="ContactInfo.xsd" />
			<xsd:import schemaLocation="Confirmation.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="updatePhoneNumberRequestMsg">
		<wsdl:part element="contact:phoneNumber" name="input1" />
	</wsdl:message>
	<wsdl:message name="updatePhoneNumberResponseMsg">
		<wsdl:part element="Confirmation" name="output1" />
	</wsdl:message>
	<wsdl:message name="updateAddressRequestMsg">
		<wsdl:part type="contact:addressType" name="input2" />
	</wsdl:message>
	<wsdl:message name="updateAddressResponseMsg">
		<wsdl:part type="ConfirmationType" name="output2" />
	</wsdl:message>

	<wsdl:portType name="testPortType">
		<wsdl:operation name="updatePhoneNumber">
			<wsdl:input message="tns:updatePhoneNumberRequestMsg" />
			<wsdl:output message="tns:updatePhoneNumberResponseMsg" />
		</wsdl:operation>
		<wsdl:operation name="updateAddress">
			<wsdl:input message="tns:updateAddressRequestMsg" />
			<wsdl:output message="tns:updateAddressResponseMsg" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>