core/tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample88.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/88" xmlns:tns="http://www.sample.org/88">
<import namespace="http://www.sample.org/67" schemaLocation="sample67.xsd"/><import namespace="http://www.sample.org/25" schemaLocation="./sample25.xsd"/><import namespace="http://www.sample.org/19" schemaLocation=".\sample19.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>