core/tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample54.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/54" xmlns:tns="http://www.sample.org/54">
<import namespace="http://www.sample.org/88" schemaLocation="sample88.xsd"/><import namespace="http://www.sample.org/60" schemaLocation="./sample60.xsd"/><import namespace="http://www.sample.org/77" schemaLocation=".\sample77.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>