core/tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample19.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/19" xmlns:tns="http://www.sample.org/19">
<import namespace="http://www.sample.org/81" schemaLocation="sample81.xsd"/><import namespace="http://www.sample.org/93" schemaLocation="./sample93.xsd"/><import namespace="http://www.sample.org/56" schemaLocation=".\sample56.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>