core/tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/28" xmlns:tns="http://www.sample.org/28">
<import namespace="http://www.sample.org/94" schemaLocation="sample94.xsd"/><import namespace="http://www.sample.org/78" schemaLocation="./sample78.xsd"/><import namespace="http://www.sample.org/46" schemaLocation=".\sample46.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>