tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/LocalNamespace/LocalDefaultNamespace.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="LocalDefaultNamespace"
	targetNamespace="http://www.example.org/LocalDefaultNamespace"
	xmlns="http://www.example.org/LocalDefaultNamespace"
	xmlns:tns="http://www.example.org/LocalDefaultNamespace/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/LocalDefaultNamespace/xsd"
			xmlns="http://www.example.org/LocalDefaultNamespace/xsd"
			attributeFormDefault="unqualified"
			elementFormDefault="unqualified">

			<xsd:element name="test">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="testResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="TestRequestMessage">
		<wsdl:part name="parameters" element="test"
			xmlns="http://www.example.org/LocalDefaultNamespace/xsd" />
	</wsdl:message>

	<wsdl:message name="TestResponseMessage">
		<wsdl:part name="parameters" element="testResponse"
			xmlns="http://www.example.org/LocalDefaultNamespace/xsd" />
	</wsdl:message>

	<wsdl:portType name="TestPortType">
		<wsdl:operation name="test">
			<wsdl:input name="TestInput" message="TestRequestMessage" />
			<wsdl:output name="TestOutput" message="TestResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TestSOAPBinding"
		type="TestPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="test">
			<soap:operation style="document"
				soapAction="test" />
			<wsdl:input name="TestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="TestOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TestService">
		<wsdl:port name="TestPort" binding="TestSOAPBinding">
			<soap:address location="http://www.example.org/test" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>