tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample82.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/82" xmlns:tns="http://www.sample.org/82">
<import namespace="http://www.sample.org/21" schemaLocation="sample21.xsd"/><import namespace="http://www.sample.org/30" schemaLocation="./sample30.xsd"/><import namespace="http://www.sample.org/39" schemaLocation=".\sample39.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>