tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample42.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/42" xmlns:tns="http://www.sample.org/42">
<import namespace="http://www.sample.org/87" schemaLocation="sample87.xsd"/><import namespace="http://www.sample.org/88" schemaLocation="./sample88.xsd"/><import namespace="http://www.sample.org/85" schemaLocation=".\sample85.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>