tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample74.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/74" xmlns:tns="http://www.sample.org/74">
<import namespace="http://www.sample.org/61" schemaLocation="sample61.xsd"/><import namespace="http://www.sample.org/76" schemaLocation="./sample76.xsd"/><import namespace="http://www.sample.org/10" schemaLocation=".\sample10.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>