tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample37.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/37" xmlns:tns="http://www.sample.org/37">
<import namespace="http://www.sample.org/46" schemaLocation="sample46.xsd"/><import namespace="http://www.sample.org/93" schemaLocation="./sample93.xsd"/><import namespace="http://www.sample.org/92" schemaLocation=".\sample92.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>