tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample79.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/79" xmlns:tns="http://www.sample.org/79">
<import namespace="http://www.sample.org/89" schemaLocation="sample89.xsd"/><import namespace="http://www.sample.org/45" schemaLocation="./sample45.xsd"/><import namespace="http://www.sample.org/29" schemaLocation=".\sample29.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>