tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample63.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/63" xmlns:tns="http://www.sample.org/63">
<import namespace="http://www.sample.org/99" schemaLocation="sample99.xsd"/><import namespace="http://www.sample.org/30" schemaLocation="./sample30.xsd"/><import namespace="http://www.sample.org/5" schemaLocation=".\sample5.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>