tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/6" xmlns:tns="http://www.sample.org/6">
<import namespace="http://www.sample.org/52" schemaLocation="sample52.xsd"/><import namespace="http://www.sample.org/1" schemaLocation="./sample1.xsd"/><import namespace="http://www.sample.org/64" schemaLocation=".\sample64.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>