tests/org.eclipse.wst.wsdl.tests.performance/data/1000WSDLsXSDDepends/sample17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/17" xmlns:tns="http://www.sample.org/17">
<import namespace="http://www.sample.org/42" schemaLocation="sample42.xsd"/><import namespace="http://www.sample.org/11" schemaLocation="./sample11.xsd"/><import namespace="http://www.sample.org/89" schemaLocation=".\sample89.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>