tests/org.eclipse.wst.wsdl.ui.tests/testresources/WSDL/WSDLImports/test/Main003.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Main003/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Main003"
	xmlns:wsdl1="http://www.example.org/Import001/"
	xmlns:wsdl2="http://www.example.org/Import002/"
	xmlns:xsd1="http://www.example.org/Import"
    xmlns:xsd2="http://www.example.org/Import6"
	targetNamespace="http://www.example.org/Main003/">

    <wsdl:import namespace="http://www.example.org/Import001/" location="Import001.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.example.org/Import002/" location="Import002.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.example.org/Import" location="../../../XSD/Unused/Import1.xsd"></wsdl:import>
    <wsdl:import namespace="http://www.example.org/Import6" location="../../../XSD/Unused/Import6.xsd"></wsdl:import>
    
    <wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Main003/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="xsd1:ImpElem1" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="xsd2:Imp6Elem1" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Main003">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Main003SOAP" type="tns:Main003">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/Main003/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Main003">
		<wsdl:port binding="tns:Main003SOAP" name="Main003SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
