tests/org.eclipse.wst.wsdl.validation.tests/testresources/samples/WSDL/ExtensibleElements/ExtensiblePortType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExtensiblePortType"
	targetNamespace="http://www.example.org/ExtensiblePortType/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/ExtensiblePortType/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/ExtensiblePortType/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<xsd:annotation></xsd:annotation>
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="ExtensiblePortType">
		<wsdl:operation name="NewOperation">
			<xsd:annotation></xsd:annotation>
			<wsdl:input message="tns:NewOperationRequest"/>
			<wsdl:output message="tns:NewOperationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExtensiblePortTypeSOAP" type="tns:ExtensiblePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/ExtensiblePortType/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExtensiblePortType">
		<wsdl:port binding="tns:ExtensiblePortTypeSOAP" name="ExtensiblePortTypeSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
