core/tests/org.eclipse.wst.wsdl.tests/samples/Extensions/MIME/MIMETest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://www.example.org/MIMETest"
	targetNamespace="http://www.example.org/MIMETest">
	<types>
		<xsd:schema
			targetNamespace="http://www.example.org/MIMETest">
			<xsd:element name="Request" type="xsd:string" />
			<xsd:element name="Response" type="xsd:string" />
			<xsd:element name="XMLData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="element1" type="xsd:int"></xsd:element>
						<xsd:element name="element2" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="RequestMsg">
		<part name="request" element="tns:Request" />
	</message>
	<message name="ResponseMsg">
		<part name="response" element="tns:Response" />
		<part name="responseData" type="xsd:base64Binary" />
		<part name="xmlData" element="tns:XMLData" />
	</message>
	<portType name="MIMETestPortType">
		<operation name="testOperation">
			<input message="tns:RequestMsg" />
			<output message="tns:ResponseMsg" />
		</operation>
	</portType>
	<binding name="MIMETestBinding" type="tns:MIMETestPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="testOperation">
			<soap:operation
				soapAction="http://www.example.org/MIMETest/testOperation" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
			</output>
		</operation>
	</binding>
	<service name="MIMETestService">
		<port name="MIMETestPort" binding="tns:MIMETestBinding">
			<soap:address location="http://localhost:8080/MIMETest" />
		</port>
	</service>
</definitions>