tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample35.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/35" xmlns:tns="http://www.sample.org/35">
<import namespace="http://www.sample.org/17" schemaLocation="sample17.xsd"/><import namespace="http://www.sample.org/47" schemaLocation="./sample47.xsd"/><import namespace="http://www.sample.org/19" schemaLocation=".\sample19.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>