tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/10" xmlns:tns="http://www.sample.org/10">
<import namespace="http://www.sample.org/67" schemaLocation="sample67.xsd"/><import namespace="http://www.sample.org/28" schemaLocation="./sample28.xsd"/><import namespace="http://www.sample.org/5" schemaLocation=".\sample5.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>