tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample57.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/57" xmlns:tns="http://www.sample.org/57">
<import namespace="http://www.sample.org/13" schemaLocation="sample13.xsd"/><import namespace="http://www.sample.org/88" schemaLocation="./sample88.xsd"/><import namespace="http://www.sample.org/58" schemaLocation=".\sample58.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>