tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/5" xmlns:tns="http://www.sample.org/5">
<import namespace="http://www.sample.org/2" schemaLocation="sample2.xsd"/><import namespace="http://www.sample.org/20" schemaLocation="./sample20.xsd"/><import namespace="http://www.sample.org/89" schemaLocation=".\sample89.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>