tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample86.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/86" xmlns:tns="http://www.sample.org/86">
<import namespace="http://www.sample.org/9" schemaLocation="sample9.xsd"/><import namespace="http://www.sample.org/80" schemaLocation="./sample80.xsd"/><import namespace="http://www.sample.org/71" schemaLocation=".\sample71.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>