tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample90.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/90" xmlns:tns="http://www.sample.org/90">
<import namespace="http://www.sample.org/95" schemaLocation="sample95.xsd"/><import namespace="http://www.sample.org/29" schemaLocation="./sample29.xsd"/><import namespace="http://www.sample.org/62" schemaLocation=".\sample62.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>