tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/36" xmlns:tns="http://www.sample.org/36">
<import namespace="http://www.sample.org/50" schemaLocation="sample50.xsd"/><import namespace="http://www.sample.org/54" schemaLocation="./sample54.xsd"/><import namespace="http://www.sample.org/75" schemaLocation=".\sample75.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>