tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/71" xmlns:tns="http://www.sample.org/71">
<import namespace="http://www.sample.org/79" schemaLocation="sample79.xsd"/><import namespace="http://www.sample.org/13" schemaLocation="./sample13.xsd"/><import namespace="http://www.sample.org/57" schemaLocation=".\sample57.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>