tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample92.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/92" xmlns:tns="http://www.sample.org/92">
<import namespace="http://www.sample.org/42" schemaLocation="sample42.xsd"/><import namespace="http://www.sample.org/13" schemaLocation="./sample13.xsd"/><import namespace="http://www.sample.org/80" schemaLocation=".\sample80.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>