tests/org.eclipse.wst.wsdl.validation.tests/testresources/samples/XSD/ImportInlineSchemaWithInclude/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://test.com/schema" 
	xmlns:tns="http://test.com/schema">
	
	<complexType name="MyType">
		<attribute name="attone" type="string" use="required"/>
		<attribute name="atttwo" type="string" use="required"/>
	</complexType>
	
</schema>