core/tests/org.eclipse.wst.wsi.tests/testResources/samples/wsdl/SOAP12/HelloService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test/" version="1.0">

  <xs:element xmlns:ns1="http://test/" name="hello" type="ns1:hello"/>

  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element xmlns:ns2="http://test/" name="helloResponse" type="ns2:helloResponse"/>

  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
