core/tests/org.eclipse.wst.wsdl.validation.tests/testresources/samples/WSDL/InvalidSchemaWithPartReferences/InvalidSchemaWithPartReferences.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Foo"
	targetNamespace="http://www.example.org/Foo/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Foo/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Foo/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="a" type="xsd:string" />
			<xsd:element name="b" type="xsd:string" />
			<xsd:element name="junk">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="y" type="xsd:strin"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="foo">
		<wsdl:part element="tns:a" name="foo" />
	</wsdl:message>
	<wsdl:message name="bar">
		<wsdl:part element="tns:b" name="bar" />
	</wsdl:message>
	<wsdl:portType name="Foo">
		<wsdl:operation name="getFoo">
			<wsdl:input message="tns:bar" />
			<wsdl:output message="tns:foo" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>
