tests/org.eclipse.wst.wsdl.ui.tests/testresources/WSDL/xmlnsCleanup/test/Main004.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://www.example.org/Main/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Main004"
	targetNamespace="http://www.example.org/Main/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Main/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Main004">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="NewOperationRequest" />
			<wsdl:output message="NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Main004SOAP" type="Main004">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/Main/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Main004">
		<wsdl:port binding="Main004SOAP" name="Main004SOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
