tests/org.eclipse.wst.wsdl.ui.tests/testresources/WSDL/BuiltInType/NewWSDLFile1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="NewWSDLFile1"
	targetNamespace="http://www.example.org/NewWSDLFile1/" xmlns:tns="http://www.example.org/NewWSDLFile1/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/NewWSDLFile1/">
			<xsd:element name="op3">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="op3Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="op3Request">
		<wsdl:part name="parameters" element="tns:op3Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="op3Response">
		<wsdl:part name="parameters" element="tns:op3"></wsdl:part>
		<wsdl:part name="NewPart" type="p:string"></wsdl:part>
		<wsdl:part name="NewPart1" type="p:string"></wsdl:part>
		<wsdl:part name="NewPart2" type="p:string"></wsdl:part>
		<wsdl:part name="NewPart4" type="p:string"></wsdl:part>
	
		<wsdl:part name="NewPart3" type="p:string"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="p2">
		<wsdl:operation name="op3">
			<wsdl:input message="tns:op3Request" name="aaa"></wsdl:input>
			<wsdl:output message="tns:op3Response" name="bbb"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="b1" type="tns:p2">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="op3">
			<soap:operation soapAction="http://www.example.org/NewWSDLFile1/op3" />
			<wsdl:input name="aaa">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="bbb">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="s1">
		<wsdl:port name="NewPort" binding="tns:b1">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>