core/tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample29.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/29" xmlns:tns="http://www.sample.org/29">
<import namespace="http://www.sample.org/83" schemaLocation="sample83.xsd"/><import namespace="http://www.sample.org/2" schemaLocation="./sample2.xsd"/><import namespace="http://www.sample.org/41" schemaLocation=".\sample41.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>