core/tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample67.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/67" xmlns:tns="http://www.sample.org/67">
<import namespace="http://www.sample.org/44" schemaLocation="sample44.xsd"/><import namespace="http://www.sample.org/45" schemaLocation="./sample45.xsd"/><import namespace="http://www.sample.org/84" schemaLocation=".\sample84.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>