core/tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample84.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/84" xmlns:tns="http://www.sample.org/84">
<import namespace="http://www.sample.org/35" schemaLocation="sample35.xsd"/><import namespace="http://www.sample.org/36" schemaLocation="./sample36.xsd"/><import namespace="http://www.sample.org/82" schemaLocation=".\sample82.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>