core/tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample33.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/33" xmlns:tns="http://www.sample.org/33">
<import namespace="http://www.sample.org/90" schemaLocation="sample90.xsd"/><import namespace="http://www.sample.org/63" schemaLocation="./sample63.xsd"/><import namespace="http://www.sample.org/65" schemaLocation=".\sample65.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>