core/tests/org.eclipse.wst.wsdl.tests.performance/data/100WSDLsXSDDepends/sample21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/21" xmlns:tns="http://www.sample.org/21">
<import namespace="http://www.sample.org/50" schemaLocation="sample50.xsd"/><import namespace="http://www.sample.org/17" schemaLocation="./sample17.xsd"/><import namespace="http://www.sample.org/71" schemaLocation=".\sample71.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>