core/tests/org.eclipse.wst.wsi.tests/testResources/samples/wsdl/bp/2012-1/2012-1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Name" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
			<xsd:element name="Report">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:Name" />
						<xsd:element ref="tns:Specimen" />
						<xsd:element ref="tns:Lot" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SampleList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:Report" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Count" type="xsd:string" />
			<xsd:element name="LastModified" type="xsd:string" />
			<xsd:element name="Lot" type="xsd:string" />
			<xsd:element name="Name" type="xsd:string" />
			<xsd:element name="Number" type="xsd:string" />
			<xsd:element name="Specimen" type="xsd:string" />
			<xsd:element name="Sample">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:SampleName" />
						<xsd:element ref="tns:Count" />
						<xsd:element ref="tns:LastModified" />
						<xsd:element maxOccurs="unbounded" minOccurs="0" ref="tns:SampleProvider" />
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:string" use="optional" />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SampleName" type="xsd:string" />
			<xsd:element name="SampleProvider">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:Name" />
						<xsd:element ref="tns:Number" />
						<xsd:element ref="tns:SampleList" />
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:string" use="optional" />
				</xsd:complexType>
			</xsd:element>


		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getSampleRequest">
		<wsdl:part name="sampleId" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSampleResponse">
		<wsdl:part name="report" element="tns:Sample"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SamplePortType">
		<wsdl:operation name="getSample">
			<wsdl:input message="tns:getSampleRequest"></wsdl:input>
			<wsdl:output message="tns:getSampleResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SampleBinding" type="tns:SamplePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getSample">
			<soap:operation soapAction="http://tempuri.org/getSample" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SampleService">
		<wsdl:port name="SamplePort" binding="tns:SampleBinding">
			<soap:address location="http://tempuri.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>