tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/HandlesDocumentationElements/Documented.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Documented/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Documented"
	targetNamespace="http://www.example.org/Documented/">
	<wsdl:documentation>Definitions documentation.</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/Documented/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:documentation>Message documentation.</wsdl:documentation>
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="tns:NewOperationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Documented">
		<wsdl:documentation>
			Port type documentation.
		</wsdl:documentation>
		<wsdl:operation name="NewOperation">
			<wsdl:documentation>
				Operation documentation.
			</wsdl:documentation>
			<wsdl:input message="tns:NewOperationRequest" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DocumentedSOAP" type="tns:Documented">
		<wsdl:documentation>Binding documentation.</wsdl:documentation>
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/Documented/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Documented">
		<wsdl:documentation>Service documentation.</wsdl:documentation>
		<wsdl:port binding="tns:DocumentedSOAP" name="DocumentedSOAP">
			<wsdl:documentation>Port documentation.</wsdl:documentation>
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>