tests/org.eclipse.wst.wsdl.tests.performance/data/1KB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Definition" targetNamespace="http://www.eclipse.org/webtools" xmlns:tns="http://www.eclipse.org/webtools" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eclipse.org/webtools">
      <xsd:element name="ResponseElement" type="xsd:string"/>
      <xsd:element name="RequestElement" type="xsd:string"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ResponseMessage">
    <wsdl:part name="Response" element="tns:ResponseElement"/>
  </wsdl:message>
  <wsdl:message name="RequestMessage">
    <wsdl:part name="Request" element="tns:RequestElement"/>
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Operation">
      <wsdl:input message="tns:RequestMessage" name="Input"/>
      <wsdl:output message="tns:ResponseMessage" name="Output"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding" type="tns:PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Operation">
      <soap:operation soapAction="http://www.eclipse.org/webtools/Operation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Port" binding="tns:Binding">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>