tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/MoveOperationsTest/PortTypeWithTwoOperations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsdltest" targetNamespace="http://webtools/wsdltest"
	xmlns:tns="http://webtools/wsdltest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema targetNamespace="http://webtools/wsdltest">
			<xsd:element name="operation1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input1" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="operation1Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output1" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="operation2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="input1" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="operation2Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="output1" nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="operation1RequestMsg">
		<wsdl:part element="tns:operation1" name="operation1Parameters" />
	</wsdl:message>
	<wsdl:message name="operation1ResponseMsg">
		<wsdl:part element="tns:operation1Response" name="operation1Result" />
	</wsdl:message>
	<wsdl:message name="operation2RequestMsg">
		<wsdl:part element="tns:operation2" name="operation2Parameters" />
	</wsdl:message>
	<wsdl:message name="operation2ResponseMsg">
		<wsdl:part element="tns:operation2Response" name="operation2Result" />
	</wsdl:message>
	<wsdl:portType name="wsdltest">
		<wsdl:operation name="operation1">
			<wsdl:input message="tns:operation1RequestMsg" name="operation1Request" />
			<wsdl:output message="tns:operation1ResponseMsg" name="operation1Response" />
		</wsdl:operation>
		<wsdl:operation name="operation2">
			<wsdl:input message="tns:operation2RequestMsg" name="operation2Request" />
			<wsdl:output message="tns:operation2ResponseMsg" name="operation2Response" />
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>