tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample29.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/29" xmlns:tns="http://www.sample.org/29">
<import namespace="http://www.sample.org/53" schemaLocation="sample53.xsd"/><import namespace="http://www.sample.org/46" schemaLocation="./sample46.xsd"/><import namespace="http://www.sample.org/69" schemaLocation=".\sample69.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>