tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample82.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/82" xmlns:tns="http://www.sample.org/82">
<import namespace="http://www.sample.org/66" schemaLocation="sample66.xsd"/><import namespace="http://www.sample.org/81" schemaLocation="./sample81.xsd"/><import namespace="http://www.sample.org/3" schemaLocation=".\sample3.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>