tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample70.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/70" xmlns:tns="http://www.sample.org/70">
<import namespace="http://www.sample.org/5" schemaLocation="sample5.xsd"/><import namespace="http://www.sample.org/29" schemaLocation="./sample29.xsd"/><import namespace="http://www.sample.org/16" schemaLocation=".\sample16.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>