tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample59.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/59" xmlns:tns="http://www.sample.org/59">
<import namespace="http://www.sample.org/28" schemaLocation="sample28.xsd"/><import namespace="http://www.sample.org/85" schemaLocation="./sample85.xsd"/><import namespace="http://www.sample.org/72" schemaLocation=".\sample72.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>