tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample60.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/60" xmlns:tns="http://www.sample.org/60">
<import namespace="http://www.sample.org/77" schemaLocation="sample77.xsd"/><import namespace="http://www.sample.org/72" schemaLocation="./sample72.xsd"/><import namespace="http://www.sample.org/57" schemaLocation=".\sample57.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>