tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample71.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/71" xmlns:tns="http://www.sample.org/71">
<import namespace="http://www.sample.org/75" schemaLocation="sample75.xsd"/><import namespace="http://www.sample.org/20" schemaLocation="./sample20.xsd"/><import namespace="http://www.sample.org/90" schemaLocation=".\sample90.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>