tests/org.eclipse.wst.wsdl.tests.performance/data/10WSDLsXSDDepends/sample52.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sample.org/52" xmlns:tns="http://www.sample.org/52">
<import namespace="http://www.sample.org/98" schemaLocation="sample98.xsd"/><import namespace="http://www.sample.org/25" schemaLocation="./sample25.xsd"/><import namespace="http://www.sample.org/42" schemaLocation=".\sample42.xsd"/><complexType name="NewComplexType"><sequence><element name="NewElement" type="string"></element><element name="NewElement1" type="string"></element></sequence></complexType><element name="NewGlobalElement" type="tns:NewComplexType"></element></schema>