core/tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/ReconcilesExtensibleElements/ExtensibleElementSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BindingFaultSample/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BindingFaultSample"
	targetNamespace="http://www.example.org/BindingFaultSample/">
	<xsd:annotation>
		<xsd:documentation>
			Annotation
 			</xsd:documentation>
	</xsd:annotation>
	<wsdl:import namespace="" location="">
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>
	</wsdl:import>
	<wsdl:types>
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>

		<xsd:schema targetNamespace="http://www.example.org/BindingFaultSample/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="Operation1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation1Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation1Fault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fault" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation2">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation2Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation2Fault1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation2Fault1" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation2Fault2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Operation2Fault2" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Operation1Fault1">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Operation1Fault" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Operation1Request">
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>
		<wsdl:part element="tns:Operation1" name="parameters">
			<xsd:annotation>
				<xsd:documentation>
					Annotation
 			</xsd:documentation>
			</xsd:annotation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="Operation1Response">
		<wsdl:part element="tns:Operation1Response" name="parameters" />
	</wsdl:message>
	<wsdl:message name="Operation1Fault">
		<wsdl:part name="Fault" element="tns:Operation1Fault" />
	</wsdl:message>
	<wsdl:message name="Operation2Request">
		<wsdl:part name="parameters" element="tns:Operation2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Operation2Response">
		<wsdl:part name="parameters" element="tns:Operation2Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Operation2Fault1">
		<wsdl:part name="parameters" element="tns:Operation2Fault1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Operation2Fault2">
		<wsdl:part name="parameters" element="tns:Operation2Fault2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Operation1Fault1">
		<wsdl:part name="parameters" element="tns:Operation1Fault1"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SamplePort">
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>

		<wsdl:operation name="Operation1">
			<xsd:annotation>
				<xsd:documentation>
					Annotation
 			</xsd:documentation>
			</xsd:annotation>
			<wsdl:input message="tns:Operation1Request">
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 			</xsd:documentation>
				</xsd:annotation>
			</wsdl:input>
			<wsdl:output message="tns:Operation1Response">
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 			</xsd:documentation>
				</xsd:annotation>
			</wsdl:output>
			<wsdl:fault name="fault" message="tns:Operation1Fault1">
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 			</xsd:documentation>
				</xsd:annotation>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SamplePortSOAPBinding" type="tns:SamplePort">
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Operation1">
			<xsd:annotation>
				<xsd:documentation>
					Annotation
 				</xsd:documentation>
			</xsd:annotation>

			<soap:operation
				soapAction="http://www.example.org/BindingFaultSample/Operation1" />
			<wsdl:input>
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 					</xsd:documentation>
				</xsd:annotation>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 			</xsd:documentation>
				</xsd:annotation>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Operation1Fault">
				<xsd:annotation>
					<xsd:documentation>
						Annotation
 					</xsd:documentation>
				</xsd:annotation>

				<soap:fault name="Operation1Fault" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="SampleService">
		<xsd:annotation>
			<xsd:documentation>
				Annotation
 			</xsd:documentation>
		</xsd:annotation>

		<wsdl:port binding="tns:SamplePortSOAPBinding" name="SamplePort">
			<xsd:annotation>
				<xsd:documentation>
					Annotation
 				</xsd:documentation>
			</xsd:annotation>
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
