tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/WSDL4JRemove/RemoveViaWSDL4J.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="RemoveViaWSDL4J" targetNamespace="http://www.example.org/RemoveViaWSDL4J/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/RemoveViaWSDL4J/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl1="http://www.example.org/ImportMe/">
    <wsdl:import namespace="http://www.example.org/ImportMe/" location="ImportMe.wsdl"></wsdl:import>
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/RemoveViaWSDL4J/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse1">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RemoveViaWSDL4JMessageRequest">
    <wsdl:part element="tns:NewOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RemoveViaWSDL4JMessageResponse">
    <wsdl:part element="tns:NewOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RemoveViaWSDL4JMessageExtra">
  	<wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RemoveViaWSDL4J">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:RemoveViaWSDL4JMessageRequest"/>
      <wsdl:output message="tns:RemoveViaWSDL4JMessageResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MainPortTypeExtra">
  	<wsdl:operation name="NewOperation">
  		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
  		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RemoveViaWSDL4JSOAP" type="tns:RemoveViaWSDL4J">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.example.org/RemoveViaWSDL4J/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainBindingExtra" type="tns:MainPortTypeExtra">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="NewOperation">
  		<soap:operation
  			soapAction="http://www.example.org/RemoveViaWSDL4J/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoveViaWSDL4J">
    <wsdl:port binding="tns:RemoveViaWSDL4JSOAP" name="RemoveViaWSDL4JSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="MainServiceExtra">
  	<wsdl:port name="MainPortExtra" binding="tns:MainBindingExtra">
  		<soap:address location="http://www.example.org/" />
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
