core/tests/org.eclipse.wst.wsdl.tests/samples/BugFixes/LocalNamespace/LocalNamespace.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:tns="http://tempuri.org/Simple/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Simple"
	targetNamespace="http://tempuri.org/Simple/">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://tempuri.org/Simple/">

			<xsd:element name="OperationInput">

				<xsd:complexType>

					<xsd:sequence>
						<xsd:element name="attribute1"
							type="xsd:string" />
						<xsd:element name="attribute2"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="OperationOutput">

				<xsd:complexType>

					<xsd:sequence>
						<xsd:element name="attribute1"
							type="xsd:string" />
						<xsd:element name="attribute2"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="myOperationResponse">
		<wsdl:part name="myOperationResponse"
			element="tns:OperationOutput" />
	</wsdl:message>

	<wsdl:message name="myOperationRequest">
		<wsdl:part xmlns:parttns="http://tempuri.org/Simple/"
			name="myOperationRequest" element="parttns:OperationInput" />
	</wsdl:message>

	<wsdl:portType name="MyPortType">

		<wsdl:operation name="myOperation">
			<wsdl:input message="tns:myOperationRequest" />
			<wsdl:output message="tns:myOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
</wsdl:definitions>
