core/tests/org.eclipse.wst.wsdl.ui.tests/testresources/WSDL/Chameleon-NoNamespace/MultipleInlineSchemas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MultipleInlineSchemas"
	targetNamespace="http://www.example.org/MultipleInlineSchemas/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/MultipleInlineSchemas/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:abc="http://abc">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/MultipleInlineSchemas/">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="fff"></xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/MultipleInlineSchemas/1">
			<xsd:complexType name="NewComplexType"></xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/MultipleInlineSchemas/2">
			
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://abc">
			<xsd:include schemaLocation="Import1.xsd"></xsd:include>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part element="tns:NewOperation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part element="abc:ImpElem1" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MultipleInlineSchemas">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest" />
			<wsdl:output message="tns:NewOperationResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MultipleInlineSchemasSOAP" type="tns:MultipleInlineSchemas">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NewOperation">
			<soap:operation
				soapAction="http://www.example.org/MultipleInlineSchemas/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultipleInlineSchemas">
		<wsdl:port binding="tns:MultipleInlineSchemasSOAP" name="MultipleInlineSchemasSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>