core/tests/org.eclipse.wst.wsi.tests/testResources/samples/wsdl/SecureWS/NoSecurity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="incrementResponse">
    <complexType>
     <sequence>
      <element name="incrementReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="increment">
    <complexType>
     <sequence>
      <element name="value" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="incrementResponse">
     <wsdl:part element="intf:incrementResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="incrementRequest">
     <wsdl:part element="intf:increment" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="WebService">
     <wsdl:operation name="increment">
       <wsdl:input message="intf:incrementRequest" name="incrementRequest"/>

       <wsdl:output message="intf:incrementResponse" name="incrementResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="WebServiceSoapBinding" type="intf:WebService">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="increment">
       <wsdlsoap:operation soapAction="increment"/>

       <wsdl:input name="incrementRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="incrementResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="WebServiceService">
     <wsdl:port binding="intf:WebServiceSoapBinding" name="WebService">
       <wsdlsoap:address location="http://localhost:9080/WebProjectWithEncription/services/WebService"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
