tests/org.eclipse.wst.wsdl.ui.tests/testresources/WSDL/ImportsWithNamespace/refByPartElement/Used/Main.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Main" targetNamespace="http://www.example.org/Main/"
	xmlns:tns="http://www.example.org/Main/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/Import">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.example.org/Main/">
			<xsd:import namespace="http://www.example.org/Import"
				schemaLocation="../../Import1.xsd">
			</xsd:import>
			<xsd:element name="MainOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MainOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MainOperationRequest">
		<wsdl:part name="parameters" element="xsd1:ImpElem1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MainOperationResponse">
		<wsdl:part name="parameters" element="tns:MainOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MainPortType">
		<wsdl:operation name="MainOperation">
			<wsdl:input message="tns:MainOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MainOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>